name: Public Benchmark Suite
description: |
  This benchmark shows a cross section of different workloads across different clients.

  These workloads do not run on snapshots because they run on GitHub Actions, so this is a lower bound on performance.

payloads:
  - name: Simulator
    id: base-mainnet-simulation
    type: simulator
    account_loaded: 12.382
    account_deleted: 0.0127
    accounts_updated: 4.6117
    accounts_created: 0.16
    storage_loaded: 49.405
    storage_deleted: 0.4651
    storage_updated: 9.439
    storage_created: 2
    code_size_loaded: 662473.15
    num_contracts_loaded: 4.330
    calls_per_block: fill
    opcodes:
      EXP: 626.30
      KECCAK256: 29.21
    precompiles:
      bls12381MapG2: 0.6981
      ecrecover: 0.0733
      bls12381G1Add: 0.0244
      bls12381G1MultiExp: 0.0218

benchmarks:
  - metrics:
      warning:
        sequencer/latency/get_payload: 1000000000
        validator/latency/new_payload: 1000000000
      error:
        sequencer/latency/get_payload: 1500000000
        validator/latency/new_payload: 1500000000
    variables:
      - type: payload
        values:
          - base-mainnet-simulation
      - type: node_type
        values:
          - reth
      - type: num_blocks
        value: 10
      - type: gas_limit
        values:
          - 1000000000
