name: run-publish-benchmarks

on:
  push:
    branches: ["main"]

jobs:
  basic-benchmarks:
    runs-on: ubuntu-latest
    env:
      RETH_VERSION: 27a8c0f5a6dfb27dea84c5751776ecabdd069646
      GETH_VERSION: 6cbfcd5161083bcd4052edc3022d9f99c6fe40e0
      RBUILDER_VERSION: 23f42c8e78ba3abb45a8840df7037a27e196e601

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@9399c7bb15d4c7d47b27263d024f0a4978346ba4 # v1.11.0

      - name: Install project dependencies
        run: |
          go mod download

      - name: Cache binaries
        uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3.4.3
        id: cache-bin
        with:
          path: ${{ runner.temp }}/bin
          key: ${{ runner.os }}-binaries-reth-${{ env.RETH_VERSION }}-geth-${{ env.GETH_VERSION }}-rbuilder-${{ env.RBUILDER_VERSION }}

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@82dee4ba654bd2146511f85f0d013af94670c4de # v1.4.0

      - name: Build Contracts
        run: |
          forge build --force

      - name: Build client binaries
        if: steps.cache-bin.outputs.cache-hit != 'true'
        run: |
          unset CI
          mkdir -p ${{ runner.temp }}/bin

          # Build reth
          cd clients
          RETH_VERSION=${{ env.RETH_VERSION }} OUTPUT_DIR="${{ runner.temp }}/bin" ./build-reth.sh
          # Rename op-reth to reth for consistency
          [ -f "${{ runner.temp }}/bin/op-reth" ] && mv "${{ runner.temp }}/bin/op-reth" "${{ runner.temp }}/bin/reth" || true

          # Build geth
          GETH_VERSION=${{ env.GETH_VERSION }} OUTPUT_DIR="${{ runner.temp }}/bin" ./build-geth.sh

          # Build rbuilder
          RBUILDER_VERSION=${{ env.RBUILDER_VERSION }} OUTPUT_DIR="${{ runner.temp }}/bin" ./build-rbuilder.sh
          # Rename op-rbuilder to rbuilder for consistency
          [ -f "${{ runner.temp }}/bin/op-rbuilder" ] && mv "${{ runner.temp }}/bin/op-rbuilder" "${{ runner.temp }}/bin/rbuilder" || true

          echo "binaries compiled:"
          ls -la ${{ runner.temp }}/bin

      - name: Run Basic Benchmarks
        id: unit
        run: |
          mkdir ${{ runner.temp }}/data-dir
          mkdir ${{ runner.temp }}/output
          go run benchmark/cmd/main.go \
            --log.level info \
            run \
            --config ./configs/public/public-benchmark.yml \
            --root-dir ${{ runner.temp }}/data-dir \
            --output-dir ${{ runner.temp }}/output \
            --reth-bin ${{ runner.temp }}/bin/reth \
            --geth-bin ${{ runner.temp }}/bin/geth

      - name: Build Report
        run: |
          cp -r ${{ runner.temp }}/output/ ./output/
          pushd report
          npm install
          npm run build
          popd

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: report/dist/

  deploy:
    runs-on: ubuntu-latest
    needs: basic-benchmarks
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - name: Publish Report
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
